<!DOCTYPE html>
<html lang="en" style="width:100%; height:100%; padding:0px; margin:0px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta charset="UTF-8">
    <title>Field Guide</title>
    <script type="text/javascript">
        (function() {
            const currentPath = window.location.pathname;
            let targetPath;

            if (currentPath.endsWith('/')) {
                targetPath = currentPath + 'en_us/';
            } else if (currentPath.endsWith('index.html')) {
                const basePath = currentPath.substring(0, currentPath.lastIndexOf('/') + 1);
                targetPath = basePath + 'en_us/index.html';
            } else {
                targetPath = 'en_us/';
            }

            const search = window.location.search;
            const hash = window.location.hash;
            window.location.replace(targetPath + search + hash);
        })();
    </script>
</head>
<body>
</body>